:root {
    --iphone-width: 18vw;
    --iphone-height: 70vh;
    --icon-offset: 7vh;
    --theme-color: #2E5A88;
    --mask-color: #f6f6f6;

   }

/* Map (Market) Page */
.map-search{
    width: calc(var(--iphone-width)*3/4);
    height: calc(var(--iphone-height)/14);
    margin-top: 3.5vh;
    margin-bottom: 2vh;
    border-radius: 40px;
}

.iphone-mask{
    position: absolute;
    border-radius: 40px;
    width: var(--iphone-width);
    height: var(--iphone-height);
    background: var(--mask-color);
    opacity: 0.6;
    z-index: 3;
    visibility: hidden;
}

.cur-icon::after{
    opacity: 1;
}

.icons .cur-icon .hover_img{
    opacity: 1;
  }
  

.map-search div{
    background: #fff;
    border-radius: 40px;
}

.map-search .input-group{
    border-color: #2E5A88;
    border-style: solid;
}

.map-search input{
    border-radius: 40px;
    border-color: #2E5A88;
    ;
}

#map {
    width: calc(var(--iphone-width));
    height: calc(var(--iphone-height) - var(--iphone-height)/14 - 4vh - 2vh);
    position: relative;
    border-radius: 0 0 50px 50px;
    z-index: 0;
}

.map-popup-card{
    flex-direction: row;
    width: calc(var(--iphone-width)/4);
    height: calc(var(--iphone-height)/4);
}

.map-popup-card img{
    width: calc(var(--iphone-width)/3);

}

.map-popup-card .card-body{
    width: calc(var(--iphone-width)/2.1);
    height: calc(var(--iphone-width)/4);
}

.map-popup-card .card-body h5{
    font-size: 0.9em;
}

.map-popup-card .card-body p{
    font-size: 0.7em;
}

.map-popup-card .btn{
    width: calc(var(--iphone-width)/3.2);
    height: calc(var(--iphone-width)/12);
    font-size: 0.7em;
}

.map-popup-card img{
    border-radius: 15px;
}

.leaflet-popup-content{
    width: calc(var(--iphone-width)/1.5);
}

.map-art-info{
    position: absolute;
    top: calc(var(--iphone-height)/8);
    width: calc(var(--iphone-width)/1.1);
    height: calc(var(--iphone-height)/2.3);
    z-index: 4;
    visibility: hidden;
}

.map-art-info .card-body{
    width: calc(var(--iphone-width)/1.1);
    height: calc(var(--iphone-height)/2.2);
}

.map-art-info h5{
    font-size: 0.9em;
}

.map-art-info h4{
    font-size: 0.7em;
}

.map-art-info p{
    font-size: 0.5em;
}

.map-art-info .btn{
    width: calc(var(--iphone-width)/3.2);
    height: calc(var(--iphone-width)/12);
    font-size: 0.5em;
}

.map-detailed-info{
    top: calc(var(--iphone-height)/5);
    width: calc(var(--iphone-width)/1.5);
    height: calc(var(--iphone-height)/1.7);
    z-index: 4;
    visibility: hidden;
}

.map-detailed-info .card-body{
    width: calc(var(--iphone-width)/1.5);
    height: calc(var(--iphone-height)/1.7);
}
.map-detailed-info .btn{
    width: calc(var(--iphone-width)/1.9);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}

.map-detailed-info i{
    font-size: 3em;
}


.map-detailed-info h5{
    color: var(--theme-color);
}
.map-detailed-info h4{
    color: var(--theme-color);
}
.map-detailed-info p{
    color: var(--theme-color);
}

.map-detailed-mask{
    z-index: 3;
}


/* Detect Page */
.detect-search{
    width: calc(var(--iphone-width)*3/4);
    height: calc(var(--iphone-height)/14);
    margin-top: 3.5vh;
    margin-bottom: 0.5vh;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detect-container {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    width: calc(var(--iphone-width));
    height: calc(var(--iphone-height) - var(--iphone-height)/14 - 4vh);
    border-radius: 50px;

}

.detect-container .figure img{
    width: calc(var(--iphone-width));
    height: calc(var(--iphone-height) - var(--iphone-height)/14 - 4vh);
    position: relative;
    border-radius: 0 0 50px 50px;
    z-index: 0;
    
}

.detect-upload-img{
    /* left: calc(var(--iphone-width)/2.3); */
    
    left: calc(var(--iphone-width)/3);
    top: calc((var(--iphone-height) - var(--iphone-height)/14 - 4vh)/2);
    position: absolute;
    z-index: 1;
}




.detect-upload-img i{
    font-size: 5em;
    color: #fff;
}

.detect-menu{
    position: absolute;
    width: calc(var(--iphone-width));
    top: calc(var(--iphone-height) - 4*var(--icon-offset) - 4.5vh);
    visibility: hidden;
    z-index: 3;
	box-shadow:0px -15px 50px -30px black;
    border-radius: 40px;
}


.detect-menu-items{
    border-radius: 40px;
}

.detect-art{
    top: calc(var(--iphone-height)/3.5);
    height: calc(var(--iphone-height)/2);
    width: calc(var(--iphone-width)/1.3);
    z-index: 4;
    visibility: hidden;
}

.detect-art .card-body{
    height: calc(var(--iphone-height)/8);
    width: calc(var(--iphone-width)/1.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.detect-art #detect-cancel{
    left: calc(var(--iphone-height)/3);
    top: -30px;

    position: absolute;
    z-index: 10;
}

#detect-cancel i{
    font-size: 5em;
    color: #fff;
}


/* 
.list-group {
    border-top-left-radius: 5rem;
    border-top-right-radius: 5rem;
} */
